.card {
  background-color: white;
  border-radius: 8px;
  background-color: #eeeeee;
  border: 1px solid #444444;
  appearance: none;
  -webkit-appearance: none;
  padding: 0;
  display: block;
  width: 100%;
  transition: background-color 250ms ease-out;
}

.card:hover,
.card:focus {
  background-color: #dddddd;
}

.name {
  margin: 8px 0;
  font-size: 1rem;
}

.gradient {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  width: 100%;
  aspect-ratio: 1 / 1;
}

@media (prefers-color-scheme: dark) {
  .card {
    background-color: #444444;
    border: 1px solid #eeeeee;
  }

  .card:hover,
  .card:focus {
    background-color: #555555;
  }
}
